@import url("profiles.css");
@import url("colours.css");

@media screen and (prefers-color-scheme: dark) {
    
    * {
        --primary  : ;
        --secondry : ;
        --tritritry: ;
        --quaritry : ;
    }
}

@media screen and (prefers-color-scheme: light) {
    
    * {
        --primary  : ;
        --secondry : ;
        --tritritry: ;
        --quaritry : ;
    }
}