/.DS_Store
/.hide-sus
/.notebook
/.vscode
/notes.md
/out.txt
/statusgui.js
/temp.js
/Logs
/node_modules
/Discord-Bot/node_modules
/Logs/WebServer/main.log
/test.js
*.log
/Logs/Database/main.log
/Logs/ThreadManager/main.log
/Logs/WebServer/main.log
Pages/.DS_Store
*.mp4
*.mov
notes*
Pages/tabel-of-elements/.html
