@import url('/scripts/css/base.css');

* {
    padding: 0px;
    margin: 0px;
    border: none;
    --border-offest: 20px;
}

body {
    --elm-size: 9vh;
    --elm-margin: 3px;
    --coloums: 0;
    --rows: 0;
    overflow: hidden;
}

main {
    --margin: var(--border-offest);
    margin: calc(var(--margin) / 2);
    width: calc(100vw - var(--margin));
    height: calc(100vh - var(--margin));
    background: transparent;
    display: block;
}

.element {
    background: var(--background-2);
    width: var(--elm-size);
    height: var(--elm-size);
    border-radius: 5px;
    margin: var(--elm-margin);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(var(--elm-size) * 0.2) calc(var(--elm-size) * 0.6) calc(var(--elm-size) * 0.2);
    grid-row: var(--row);
    grid-column: var(--coloum);
}

.element.thin {
    height: calc(var(--elm-size) / 2);
    opacity: 0%;
}

.element.transperent {
    opacity: 0%;
}

.group {
    overflow: visible;
    width: calc(var(--elm-size) + (var(--elm-margin) * 2));
    background: transparent;
}

#tabel {
    display: grid;
    overflow: visible;
    grid-template-rows: repeat(var(--rows), calc(var(--elm-size) + (var(--elm-margin) * 2)));
    grid-template-columns: repeat(var(--coloums), calc(var(--elm-size) + (var(--elm-margin) * 2)));
}

#tabel * {
    align-content: flex-end;
}

.element:hover {
    z-index: 2;
}

.element>* {
    display: block;
    background: transparent;
}

.element>.name {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px calc(var(--elm-size) * 0.1);
    width: calc(var(--elm-size) * 0.6);
    height: calc(var(--elm-size) * 0.2);
    font-size: calc(var(--elm-size) * 0.15);
    grid-row: 3 / 3;
    grid-column: 1 / 2;
}

.element>.symbol {
    width: calc(var(--elm-size) * 0.6);
    height: calc(var(--elm-size) * 0.4);
    padding: calc(var(--elm-size) * 0.1);
    font-size: calc(var(--elm-size) * 0.35);
    float: left;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.element>.info {
    padding: 0px calc(var(--elm-size) * 0.1);
    width: calc(var(--elm-size) * 0.6);
    height: calc(var(--elm-size) * 0.2);
    font-size: calc(var(--elm-size) * 0.15);
    float: left;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.element>.shell {
    width: calc(var(--elm-size) * 0.2);
    height: calc(var(--elm-size) * 1);
    float: right;
    grid-column: 2 / 2;
}