@media (prefers-color-scheme: dark) {

    * {
        --background-1: rgb(36, 36, 40);
        --background-2: rgb(50, 50, 60);
        --background-3: rgb(100, 100, 120);

        --text-1: rgb(163, 163, 163);
        --text-2: rgb(200, 200, 200);
        --text-3: rgb(255, 255, 255);
    }
    
}